{% extends "base.html" %}
{% block page_title %}Nytt Lösenord{% endblock %}

{% block page_heading %}<div class="container"><h1>Glömt Lösenord</h1></div>{% endblock %}
{% block content %}
<div class="container">
<form method="post" class="accountform">
    <p>Vänligen fyll i din mailadress </p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}

    <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input type="submit" value="skicka nytt Lösenord" /></p>
</form>
</div>
{% endblock %}